<launch>
  <!-- Simulation launch file, starts 2 slaves -->
  <node pkg="turtlesim" type="turtlesim_node" name="sim"/>
  <node pkg="turtlesim" type="turtle_teleop_key" name="tok"/>

  <param name="sim_mode" type="bool" value="True" />
  <param name="master_ip" value="127.0.0.1" />

  <node name="master" pkg="formation" type="master.py" respawn="false" output="screen" >
  	<rosparam param="slaves">[yellow, pink]</rosparam>
  </node>

  <node name="slave1" pkg="formation" type="slave.py" respawn="false" output="screen">
    <param name="name" type="string" value="yellow" />
    <rosparam param="spawn_position">[3, 9]</rosparam>
  </node>

  <node name="slave2" pkg="formation" type="slave.py" respawn="false" output="screen">
    <param name="name" type="string" value="pink" />
    <rosparam param="spawn_position">[4, 6]</rosparam>
  </node>

</launch>