  <launch>
    <!-- Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>
    <param name="sim_mode" type="bool" value="True" />

    <node name="master" pkg="formation" type="master.py" respawn="false" output="screen" />

    <node name="slave" pkg="formation" type="slave.py" respawn="false" output="screen" >
      <param name="name" type="string" value="turtle2" />
    </node>

  </launch>