  <launch>
    <!-- Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>

    <node name="maitre" pkg="formation" type="maitre.py" respawn="false" output="screen" >
      <param name="turtle" type="string" value="turtle1" />
      <param name="simu_mode" type="bool" value="True" />
    </node>

  </launch>